.contact {
    background-color: #cccccca9;
    text-align: center;
    height: 300px;
    width: 100%;
    padding: 80px;
}

.contact h1 {
    font-size: 24px;
    margin-bottom: 25px;
    
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact p {
    font-weight: bold;
}

.contact li,
a {
    font-size: 16px;
    color: #333;
    margin: 16px 10px;
}

/* Aumentar o tamanho do ícone do LinkedIn */
.contact a svg.fa-linkedin,
.contact a svg.fa-whatsapp {
    font-size: 36px;
    vertical-align: middle;
    margin-right: 10px;

}